<div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y">
        <header class="cell text-center">
            {{!-- <a href="/"><img src="assets/img/logo.png" alt="Topsy Turvy Cake Design. Click for home."></a> --}}
            <h1><a href="/">Smerth - Foundation 6 Sandbox</a></h1>
        </header>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="title-bar cell">
            <button class="menu-icon" type="button" data-toggle="foundation-pages-menu-off-canvas"></button>
            <div class="title-bar-title">Menu</div>
        </div>
    </div>
</div>

{{!-- off canvas menu --}}
<div class="off-canvas position-left" data-off-canvas id="foundation-pages-menu-off-canvas">
    {{> foundation_menu}}
</div>  
